.home {
	padding: 2rem;
	
	&-link {
		display: flex;
		justify-content: space-around;
		align-items: center;
		
		&-item {
			padding: 1rem;
			background-color: #030;
			color: #0f0;
			font-size: 20px;
		}
	}
}
